
name: Gunicorn Uvicorn Image Builder

# Publish on new pushed, and build on Monday Morning (UTC) regardless.
on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**/README.md'
      - 'templates/**'
  schedule:
    - cron:  '10 0 * * *'


jobs:
  Uvicorn-Builder:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_versions: ["3.10", "3.11", "3.12", "3.13", "3.14"] 
        package_versions: ["0.36.0", "0.36.1", "0.37.0", "0.38.0", "0.39.0"]
        target_base: ["full", "slim"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: "Create and Push Image"
        uses: multi-py/action-python-image-builder@v1
        timeout-minutes: 45
        with:
          package: "uvicorn[standard]"
          package_latest_version: "0.39.0"
          maintainer: "Robert Hafner <tedivm@tedivm.com>"
          python_version: ${{ matrix.python_versions }}
          package_version: ${{ matrix.package_versions }}
          target_base: ${{ matrix.target_base }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          dockerfile: "${{ github.workspace }}/dockerfile"
          docker_build_path: "${{ github.workspace }}/"
